.gg {
    flex-wrap: wrap;
}

.gg > div {
    flex: 1 0 calc(30.333% - 8px);
    margin-right: 8px;
}

@media (max-width: 768px) {
    .gg {
        display: flex;
        flex-direction: column;
    }

    .gg > div {
        flex: 1 0 100%;
        margin-right: 0;
    }
}
/* CustomButtonGroup */

.custom-button {
    background-color: black;
    color: white;
    border: none;
    margin: 0;
}

.custom-button:hover {
    background-color: darkgray;
    color: white;
}

.custom-box {
    border: 1px solid #000;
    padding: 5px;
    border-radius: 10px;
    height: auto;
    overflow: hidden;
}

.custom-border {
    border: 2px solid #000;
    padding: 1.2vmax;
}

.inner-fit-custom-box {
    border: 1px solid #000;
    padding: 5px;
    border-radius: 10px;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.image {
    padding-top: 1vmax;
    width: 30vmax;
    height: auto;
}

.title {
    text-align: left;
    font-size: 24px;
    padding-left: 1vmax;
    font-weight: bold;
}

.subtitle {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.servo-table {
    max-width: 70%;
    width: 70%;
}

.servo-table td {
    width: 30%;
    font-weight: bold;
}
